* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 680px;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

div {
  margin: 5px;
}

#searchPhrase,
#searchProvider,
#searchRouter {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 590px;
  font-size: 14px;
  padding: 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 6px;
  border-radius: 5px;
}

#result-container.table {
  max-width: 100px;
}

body a {
  color: #435282;
}

.table {
  width: 100%;
  max-width: 640px;
  border-collapse: collapse;
}

.table-container {
  transition: opacity 0.5s ease-in-out;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid #ddd;
}

.tabcontent {
  display: none;
}

ul {
  list-style-type: none;
}